.footer_wrap {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.icon_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.list_item {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 6px;
    
}