.hero {
  transition: background-image .5s ease;
}

.heroLight {
  background-image: url('/imgs/hero_bg_light.png');
  background-size: cover;
}

.heroDark {
  background-image: url('/imgs/hero_bg_dark.png');
  background-size: cover;
}